@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color:black;
    --fg-color:white;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Poppins;
    background-color: var(--bg-color);
    color: var(--fg-color);
}
body.light{
    background-color: var(--fg-color);
    color: var(--bg-color);
}
main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer{
    padding: 5px;
    text-align: center;
}